
<header class="site-header">
  
    <div id="auunits" class="white">
        <form>	  
            <span>1AU&ensp;$=$&ensp;1 Astronomical Unit $=$ 'average' Sun-Earth distance&ensp;$=$&ensp;</span>
            <span id="distanceValue" class="xl"></span>
            <span>&thinsp;</span>
            <select id="distanceUnit" name="distanceUnit">
                <option value="mile">miles</option>
                <option value="meter">meters</option>
                <option value="moonDiameter">Moon diameters</option>
                <option value="earthDiameter">Earth diameters</option>
                <option value="sunDiameter">Sun diameters</option>
                <option value="lightSecond">Light-Seconds</option>
                <option value="lightMinute">Light-Minutes</option>
            </select>
        </form>
    </div>

    <script>

        function auunits() {
            // DOM
                var e_dist = document.getElementById('distanceUnit');
            //	VALUES
                var distval = document.getElementById('distanceValue');
            //	MULTIPLIERS
                var auval = 149597870700.0;     // meters
                let c = 299792458.0;      // m/s
                // var auval = e_dist.options[0].innerHTML;
                var mult = {
                    mile: auval / 1609.756,
                    meter: auval,
                    moonDiameter: auval / 1737400.0,
                    earthDiameter: auval / 6378140.0,
                    sunDiameter:  auval / 696000000.0,
                    lightSecond: auval / c,
                    lightMinute: auval / (c * 60.0)
                };
            // INITIALIZE
                var nOptions = 7;
                var z = Math.floor((Math.random() * nOptions) + 1);    
                e_dist.selectedIndex = z;
                var zz = e_dist.options[z].value;
                var nf = new Intl.NumberFormat('en-US');
                var oneau = parseFloat(mult[zz]).toFixed(1);
                distval.innerText = nf.format(oneau); 

            //	EVENT LISTENER
                e_dist.addEventListener("change", function () {
                        var x = e_dist.options[e_dist.selectedIndex].value;
                        var oneau = parseFloat(mult[x]).toFixed(1);
                        distval.innerText = nf.format(oneau);
                });

        }	// END function auunits

        //
        auunits();

    </script>

</header>