
<header class="site-header">
  

   <canvas id="crescent" width="500" height="75" style="border:1px dotted white; padding:0px; display:inline;"></canvas>  


<script>
    var c = document.getElementById("crescent");
    var ctx = c.getContext("2d");
    var width = c.width;
    var height = c.height;

    </script>


    <div id="auunits" class="white" style = "position:absolute; top:12px; left:75px;" >
        <form>	  
            <span class="xl">$1$ </span>
            <span class="sc">AU &ensp;$=$&ensp;</span>
            <span id="distanceValue" class="xl"></span>
            <span>&thinsp;</span>
            <select id="distanceUnit" name="distanceUnit">
                <option value="mile">miles</option>
                <option value="meter">meters</option>
                <option value="moonDiameter">Moon diameters</option>
                <option value="earthDiameter">Earth diameters</option>
                <option value="sunDiameter">Sun diameters</option>
                <option value="lightSecond">Light-Seconds</option>
                <option value="lightMinute">Light-Minutes</option>
            </select>
        </form>
    </div>

    <script>

        function auunits() {
            // DOM
                var e_dist = document.getElementById('distanceUnit');
            //	VALUES
                var distval = document.getElementById('distanceValue');
            //	MULTIPLIERS
                var auval = 149597870700.0;     // meters
                let c = 299792458.0;      // m/s
                // var auval = e_dist.options[0].innerHTML;
                var mult = {
                    mile: auval / 1609.756,
                    meter: auval,
                    moonDiameter: auval / 1737400.0,
                    earthDiameter: auval / 6378140.0,
                    sunDiameter:  auval / 696000000.0,
                    lightSecond: auval / c,
                    lightMinute: auval / (c * 60.0)
                };
            // INITIALIZE
                var nOptions = 7;
                var z = Math.floor((Math.random() * nOptions) + 1);    
                e_dist.selectedIndex = z;
                var zz = e_dist.options[z].value;
                var nf = new Intl.NumberFormat('en-US');
                var oneau = parseFloat(mult[zz]).toFixed(1);
                distval.innerText = nf.format(oneau); 

            //	EVENT LISTENER
                e_dist.addEventListener("change", function () {
                        var x = e_dist.options[e_dist.selectedIndex].value;
                        var oneau = parseFloat(mult[x]).toFixed(1);
                        distval.innerText = nf.format(oneau);
                });

        }	// END function auunits

        //

        auunits();

    </script>

<script>

    let sun = String.fromCharCode(0x2299);
    let moonfull = String.fromCharCode(0x25CB); 
    let moonnew = String.fromCharCode(0x25CD);
    let moon1q = String.fromCharCode(0x263D);
    let moon3q = String.fromCharCode(0x263E);
    let sunmoonG = [sun, moonnew, moon1q, moonfull, moon3q];

    let mercury = String.fromCharCode(0x263F);
    let venus = String.fromCharCode(0x2640);
    let earth = String.fromCharCode(0x2295);
    let mars = String.fromCharCode(0x2642);
    let jupiter = String.fromCharCode(0x2643);
    let saturn = String.fromCharCode(0x2644);
    let uranus = String.fromCharCode(0x2645);
    let neptune = String.fromCharCode(0x2646);
    let planetG = [mercury, venus, earth, mars, jupiter, saturn, uranus, neptune];

    // let aries = String.fromCharCode(0x2648);
    // let taurus = String.fromCharCode(0x2649);
    // let gemini = String.fromCharCode(0x264A);
    // let cancer = String.fromCharCode(0x264B);
    // let leo  = String.fromCharCode(0x264C);
    // let virgo = String.fromCharCode(0x264D);
    // let libra = String.fromCharCode(0x264E);
    // let scorpius = String.fromCharCode(0x264F);
    // let sagittarius = String.fromCharCode(0x2650);
    // let capricorn = String.fromCharCode(0x2651);
    // let aquarius = String.fromCharCode(0x2652);
    // let pisces = String.fromCharCode(0x2653);
    // let constellG = [aries, taurus, gemini, cancer, leo, virgo, libra, scorpius, sagittarius, capricorn, aquarius, pisces];

    let conjunction = String.fromCharCode(0x260C);
    let opposition = String.fromCharCode(0x260D);
    let ascendingnode = String.fromCharCode(0x260A);
    let descendingnode = String.fromCharCode(0x260B);
    let configG = [conjunction, opposition, ascendingnode, descendingnode];


    ctx.font = "35px Stix";
    ctx.fillStyle = 'red';
    ctx.fillText(sun,0, 25);
    ctx.fillText(earth, 470, 25);

    ctx.strokeStyle = 'white';
    ctx.moveTo(15, 1);
    ctx.lineTo(485, 1);
    ctx.stroke();
    ctx.moveTo(15, 1);
    ctx.lineTo(45,10);
    ctx.stroke();
    ctx.moveTo(485, 1);
    ctx.lineTo(455, 10);
    ctx.stroke();


    ctx.font = "23px Stix";
    ctx.fillStyle = 'blue';

    let yg = 64;

    for (var j = 0; j <= 4; j++) { 
        ctx.fillText(sunmoonG[j], 25 + 25*j, yg); 
    }

    for (var j = 0; j <= 7; j++) { 
        ctx.fillText(planetG[j], 160 + 25*j, yg); 
    }

    // for (var j = 0; j <= 11; j++) { 
    //     ctx.fillText(constellG[j], 370 + 25*j, yg); 
    // }

    for (var j = 0; j <= 3; j++) { 
        ctx.fillText(configG[j], 370 + 25*j, yg); 
    }

    auunits();

</script>


































</header>