<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

	<link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

	<!-- katex -->
	{{ if or .Params.math .Site.Params.math }}
		{{ partial "katex.html" . }}
		<!-- {{ partial "mathjax.html" . }} -->
	{{ end }}

		<!-- Change color of most recently clicked nav link -->
		<script>
			function handleNavLinkClick(event) {
				// Get all navigation links
				var navLinks = document.querySelectorAll('.nav-menu a');
	
				// Remove 'active' class from all links
				navLinks.forEach(function(link) {
					link.classList.remove('selected');
				});
	
				// Add 'active' class to the clicked link
				event.currentTarget.classList.add('selected');
			}
	
			document.addEventListener("DOMContentLoaded", function() {
				// Add click event listener to each navigation link
				var navLinks = document.querySelectorAll('.nav-menu a');
				navLinks.forEach(function(link) {
					link.addEventListener('onmouseup', handleNavLinkClick);
				});
			});
		</script>


</head>

<body>

	{{ partial "1au-units.html"}}

	{{ partial "nav.html" . }}

<main class="content">



