<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

	<link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

	<!-- katex -->
	{{ if or .Params.math .Site.Params.math }}
		{{ partial "katex.html" . }}
		<!-- {{ partial "mathjax.html" . }} -->
	{{ end }}

</head>

<body>

	{{ partial "1au-units.html"}}

	{{ partial "nav.html" . }}

<main class="content">



