

<header>
  
<!-- Navigation Menu -->

<nav class="nav-menu">
  <ul>
    <li>
      <a href="/sun">
          <span class="hg">&#x2299;</span><span>Sun</span>
      </a>
    </li>
    <li>
      <a href="/moon">
        <span class="hg">&#x263E;</span><span>Moon</span>
      </a>
    </li>
    <li>
      <a href="/mercury">
        <span class="hg">&#x263F;</span><span>Mercury</span>
      </a>
    </li>
    <li>
      <a href="/venus">
        <span class="hg">&#x2640;</span><span>Venus</span>
      </a>
    </li>
    <li>
      <a href="/earth">
        <span class="hg">&#x2295;</span><span>Earth</span>
      </a>
    </li>
    <li>
      <a href="/mars">
        <span class="hg">&#x2642;</span><span>Mars</span>
      </a>
    </li>
    <li>
      <a href="/jupiter">
        <span class="hg">&#x2643;</span><span>Jupiter</span>
      </a>
    </li>
    <li>
      <a href="/saturn">
        <span class="hg">&#x2644;</span><span>Saturn</span>
      </a>
    </li>
    <li>
      <a href="/uranus">
        <span class="hg">&#x2645;</span><span>Uranus</span>
      </a>
    </li>
    <li>
      <a href="/neptune">
        <span class="hg">&#x2646;</span><span>Neptune</span>
      </a>
    </li>
  </ul>

</nav>


</header>
